.App {
  text-align: center;
}

.logo{
  height: 75px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.name {
  color: rgb(68, 124, 68);
font-size: 40px;
font-weight: 400;
vertical-align: middle;
}
.lastname {
  color: rgb(85, 85, 85);
  
  font-size: 40px;
  font-weight: 400;
  vertical-align: middle;
}
.footer {
  background-color: rgb(52, 69, 52);
  color: aliceblue;
}
.navigation{
  font-size: 18px;
  font-weight: 500!important;
}
.nav-link{
  color: rgb(25, 50, 25) !important;
  border-radius: 15px!important;
}
.nav-link:hover{
  color: rgb(140, 161, 140) !important;
  border-radius: 15px!important;
}
.nav-selected{
  color: rgb(42, 197, 66) !important;
  font-weight: 600 !important;
}
.fondo-seccion{
  background-color: rgb(255, 255, 255);
}
.navigation-bar{
  background-color: rgb(239, 254, 239)!important;
}
.carousel-caption{
  color: rgb(255, 255, 255) !important;
}
.img-perfil{
  object-fit: contain;
}
.custom-card {
  height: 100%; /* Para asegurar que todas las tarjetas tengan la misma altura */
  display: flex;
  flex-direction: column;
}

.custom-text {
  height: 225px; /* Ajusta esta altura según tus necesidades */
  overflow-y: auto;  /* Habilita el scroll vertical si el contenido excede el máximo */
}

.custom-card-title{
  font-size: 18px !important;
  height: 100px;
  align-content: center;
}
.banner{
  object-fit: cover;
  object-position: bottom;
}
.offcanvas.offcanvas-end {
  width: 40%!important;
}
.formulario-fondo{
  background-color: rgb(243, 255, 243);
  border-radius: 25px;
  margin: 20px 100px 20px 100px;
}
.vertical-align{
  align-items: center;
}
.whats{
  color: rgb(77, 184, 77);
}
.tel{
  
  color:rgb(60, 95, 142);
}
.img-intereses img{
  object-fit: cover!important;
  height: 150px!important;
}
.custom-card img{
  height: 300px!important; /* Para asegurar que todas las tarjetas tengan la misma altura */
  display: flex;
  flex-direction: column;
  object-fit: cover;
}
.social{
  color: white!important;
}
.social:hover{
  color: rgb(184, 184, 184)!important;
}
.whats:hover{
  color: rgb(39, 110, 39);
}
.tel:hover{
  color:  rgb(34, 59, 91);
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 15px!important;
      padding-left: 15px!important;;
  }

}

@media (max-width: 1024px) {
  .formulario-fondo{
    margin: 20px 50px 20px 50px;
  }
}

@media (max-width: 750px) {
  .custom-card img{
    height: 250px!important; /* Para asegurar que todas las tarjetas tengan la misma altura */
    display: flex;
    flex-direction: column;
    object-fit: cover;
  }
  .logo{
    height: 50px;
  }
  .name {

  font-size: 30px;

  }
  .lastname {

    
    font-size: 30px;

  }
  .offcanvas.offcanvas-end {
    width: 60%!important;
  }
  .formulario-fondo{
    background-color: rgb(243, 255, 243);
    border-radius: 25px;
    margin: 0px;
  }
}